@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; }
body, html { width: 100%; font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden; }
ul { list-style: none; }
button, input[type=button], input[type=submit], input[type=reset] { outline:0; border:0; }
a { text-decoration: none; } 
.wrap { width: 100%; clear:both; }

/* header */
.hd { width: 100%; height: 190px; position:relative;
background-image: url("./source/hd_bg1.png"); background-repeat: no-repeat;
background-position:center bottom; }
.hd:before { content:""; display:block; width: 100%; height: 48px; 
    background-color: #32374f; position:absolute; top: 0; left: 0; z-index:-1; }
.hd_wrap { width: 1200px; margin: 0 auto; }
.logo { display:block; float: left; background-color: #fff; height: 80px; margin-top: 20px; padding-top:10px; width: 180px; text-align: center; color:#333; 
border:1px solid #f1f1f1; height: 100px; }
.logo_tit { font-size:24px; padding-top: 12px;  }
.logo img { display:block; width: 120px; height: auto; margin: 0 auto; }
.tnb { float:right; }
.tnb li { float:left; color:#fff; font-size:14px; }
.tnb li a { color:#fff; display:block; padding:14px 20px; }
.tnb li a:hover { color:deepskyblue; }
.tnb li.user_name { padding:14px 20px; }
.gnb { clear:both; float:left; height: 40px; width: 100%; background-color: #32374f; margin-top: 8px; }
/* 펼침 메뉴 */
.gnb:before { content:""; display:block; width: 100vw; height: 200px; 
background-color:#32374f; position:absolute; z-index:98; left: 0; top:180px; 
display:none; }
.gnb:hover::before { display:block; }

.gnb li { float:left; width: 20%; }
.gnb li a.dp1 { display:block; width: 240px; color:#fff; text-align: center; line-height: 40px; }
.gnb li .sub { display:none; position:absolute; z-index:99; left:calc(50vw - 609px); height: 200px; width: 1198px;  }
.gnb li .sub li { width: 239px; line-height: 36px; float:left; }
.gnb li .sub li a { color:#fff; display:block; padding-left: 20px;}
.gnb li .sub li a:hover { color:deepskyblue; }
.gnb li:hover .sub { display:block; }
.gnb li:hover a.dp1 { background-color:deepskyblue; }

/* 분리된 각 각의 서브 메뉴 */
/*
.gnb li { float:left; width: 20%; position:relative; } 
.gnb li a.dp1 { display:block; width: 240px; color:#fff; text-align: center; line-height: 40px; } 
.gnb li .sub { display:none; width: 240px; position:absolute; z-index:99; }
.gnb li .sub li { clear:both; float:none; width: 100%; line-height: 36px; 
background-color:#f1f1f1; } 
.gnb li .sub li a { color:#333; display:block; padding-left: 20px;} 
.gnb li .sub li a:hover { color:deepskyblue; }
.gnb li:hover .sub { display:block; }
.gnb li:hover a.dp1 { background-color:deepskyblue; }
*/

/* footer */
.ft { width: 100%; position:relative; }
.ft:before { content:""; display:block; width: 100%; height: 48px; 
    background-color: #32374f; position:absolute; top: 0; left: 0; z-index:-1; }
.ft_wrap { width: 1200px; margin:0 auto;  position:relative; height:120px;  }
.fnb { width: 1200px; margin: 0 auto; }
.fnb ul { width: 1200px; height: 40px; }
.fnb li { float:left; width: 240px; }
.fnb li a { color:#fff; display:block; line-height: 48px; border-right:1px solid  #2b2e3d; text-align:center; border-left:1px solid #414766;
background-image:url("../source/family-arrow.png"); background-repeat: no-repeat; 
background-position:180px center; }
.linkbar { clear:both; height:40px; } 
.linkbar li { float:left; margin-right:40px; }
.linkbar li a { display:block; color:deepskyblue; line-height:40px; font-size:14px; }
.copyright { font-size:14px; line-height:1.8; }
.wa { position:absolute; bottom:10px; right:50%; margin-right:-600px; }

/* content */
.content { width: 100%; position:relative; }
.page { width: 100%; height: 100vh; overflow:hidden; clear:both; padding-top: 190px;  position:relative; }
.page_wrap { width: 1200px; margin: 0 auto; }

/* clear fix */
.fix { clear:both; }
.fix:after { content:""; width: 100%; display:block; clear:both; }